# API
VITE_API_BASE_URL="/api/v1"

# Token storage keys
VITE_ACCESS_TOKEN_KEY="iso_tik_access_token"
VITE_REFRESH_TOKEN_KEY="iso_tik_refresh_token"

# Remember me keys
VITE_REMEMBER_KEY="iso_tik_remember_me"
VITE_REMEMBER_USERNAME_KEY="iso_tik_remember_username"
